<div id="content" style="height: auto">
  <div class="page-title">
    <H1>О компании</H1>
  </div>
  <div class="achivment">
    <article>
      <h2>
        12 лет
      </h2>
      <p>
        на рынке<br>разработки
      </p>
    </article>
    <article>
      <h2>
        450+
      </h2>
      <p>
        выполненных<br>проектов
      </p>
    </article>
    <article>
      <h2>
        89
      </h2>
      <p>
        сотрудников<br>в штате
      </p>
    </article>
    <article>
      <h2>
        16 стран
      </h2>
      <p>
        география<br>клиентов
      </p>
    </article>
  </div>
  <div class="page-text">
    <p>
      С 2005 года мы занимаемся созданием высоконагруженных информационных систем разного масштаба и сложности,
      разрабатываем веб и мобильные приложения, а также осуществляем интеграцию компонентов информационных систем.
    </p>
    <p>
      На данный момент компания насчитывает около 100 сотрудников, 2 из которых - кандидаты наук.
    </p>
    <p>
      Офис компании находимтся в Томске - одном из признанных мировых центров IT-индустрии. В Томске расположено
      9 университетов, 15 НИИ, 6 бизнес-инкубаторов и особая экономическая зона технико-внедренческого типа.
      Значительная часть населения задействована в образовании и науке. Инновации и технический прогресс - главные
      направления развития города.
    </p>
  </div>
  <div class="years">
    <h2>2006</h2>
    <h3>2007</h3>
    <h3>2008</h3>
    <h2>2009</h2>
    <h3>2010</h3>
    <h3>2011</h3>
    <h3>2012</h3>
    <h2>2013</h2>
    <h3>2014</h3>
    <h2>2015</h2>
    <h3>2016</h3>
    <h3>2017</h3>
    <h2>2018</h2>
  </div>
  <div class="line-s-chem-to">
    <div class="main-line">
    </div>
    <div class="main-line-layout2">
    </div>
    <div class="main-line-layout3">
    </div>
    <div class="main-line-layout3">
    </div>
    <div class="main-line-layout3">
    </div>
    <div class="main-line-layout3">
    </div>
    <div class="main-line-layout3">
    </div>
  </div>
  <div class="years" style="margin-bottom: 1rem; justify-content: space-between;">
    <p>
      Основание компании.
      Разработка большой информационной системы для нефтедобывающих компаний
    </p>
    <p>
      40 сотрудников.
      Открытие направления разработки для мобильных устройств на Android iOS
    </p>
    <p>
      Разработка первой системы класса SaaS
    </p>
    <p>
      100 сотрудников.
      Разработка собственной системы управления проектами
    </p>
    <p>
      450+ выполненных проекта
      500 000 пользователей
    </p>
  </div>
  <div style="height: 1px; color: rgba(0,0,0,0);">1</div>
</div>