<div id="content" style="background: none ; padding:0; text-align: center;">
  <div class="buy-content">
    <img src=" <%=image_path('buyimg.png')%>" alt="slider 1">
    <div class="buy-form-conteiner">
      <h1>Закажите супд<br><span>прямо сейчас!</span></h1>
      <%= render "buyform" %>
    </div>
  </div>
</div>