<div id="content">
  <div class="page-title">
    <H1>Контакты</H1>
  </div>
  <div class="contact-page-information">
    <p>Нужна консультация? Свяжитесь с нами!<br>
      Вы можете связаться с нами по телефону или по электронной почте.<br>
      <span>sales@sib-soft.ru<br>
      +7(3822) 90-10-32<br></span>
      Или заполнить форму, указанную ниже. <br>
      Отправьте нам свой вопрос, и будьте уверены - Вы получите ответ на него!</p>
    <div class="buy-form">
      <%= render "contactsform" %>
    </div>
  </div>
</div>