<div id="content">
  <div class="page-title">
    <H1>FAQ</H1>
  </div>
  <div class="faq-main-content-conteiner">
    <h2>Часто задаваемые вопросы</h2>
    <div id="f-main-content">
      <div class="f-m-c-radio-collum">
        <P><input type="radio" id="QUEST"
                  name="contact" value="email" checked>
          <label for="contactChoice1">Какая мне выгода от использования СУПД?</label></P>

        <P><input type="radio" id="QUEST2"
                  name="contact" value="phone">
          <label for="contactChoice2">Для каких организаций подходит СУПД?</label></P>

        <P><input type="radio" id="QUEST3"
                  name="contact" value="mail">
          <label for="contactChoice3">Каковы системные требования?</label></P>

        <P><input type="radio" id="QUEST4"
                  name="contact" value="mail">
          <label for="contactChoice3">Как построен процесс внедрения СУПД?</label></P>

        <P><input type="radio" id="QUEST5"
                  name="contact" value="mail">
          <label for="contactChoice3">Как получить демоверсию СУПД?</label></P>

        <P><input type="radio" id="QUEST6"
                  name="contact" value="mail">
          <label for="contactChoice3">Как нам перенести старые наработки в СУПД?</label></P>

        <P><input type="radio" id="QUEST7"
                  name="contact" value="mail">
          <label for="contactChoice3">На каких условиях дается демоверсия?</label></P>

        <P><input type="radio" id="QUEST8"
                  name="contact" value="mail">
          <label for="contactChoice3">Лицензии именные или конкурентные?</label></P>
      </div>>
      <div class="f-m-c-text-collum">
        <p></p>
      </div>
      <p>Возник вопрос?<br>
        Свяжитесь с нами в разделе контакты!</p>
    </div>
  </div>
</div>