<div id="content">
  <div class="page-title">
    <H1>Виртуальный тур</H1>
  </div>
  <div class="visual-tour-conteiner">
    <p>Для ознакомления функционалом Системы управления производственной деятельностью Вы можете скачать и посмотреть видеоролики</p>
    <div class="v-t-c-file">
      <img src=" <%= image_path('157.png') %> " alt="file-icone" class="file-icone">
      <div>
        Flowdox СУПД: Знакомство
        <p>
          103 мб, 69 мин
        </p>
      </div>
    </div>
    <div class="v-t-c-file">
      <img src=" <%= image_path('157.png') %> " alt="file-icone" class="file-icone">
      <div>
        Flowdox СУПД: Обзор возможностей системы
        <p>
          356 мб,  146 мин
        </p>
      </div>
    </div>
    <div class="v-t-c-text">
      <p>Информационные и учебные материалы</p>
    </div>
    <div class="v-t-c-file">
      <img src=" <%= image_path('157.png') %> " alt="file-icone" class="file-icone">
      <div>
        Руководство пользователя
        <p>
          103 мб
        </p>
      </div>
    </div>
    <div class="v-t-c-file">
      <img src=" <%= image_path('157.png') %> " alt="file-icone" class="file-icone">
      <div>
        Презентация
        <p>
          53 мб
        </p>
      </div>
    </div>
  </div>
</div>